NODE_ENV=development
PORT=3000
JWT_SECRET_KEY=
JWT_EXPIRES_IN=1w

FRONTEND_URL=http://localhost:5173

# Docker Container Mongo info
MONGO_PORT=27017
MONGO_DB=mydb
MONGO_USER=admin
MONGO_PASSWORD=password

# Redis
REDIS_PORT=6379
REDIS_USER=admin
REDIS_PASSWORD=secret

# Mailers
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="authentication@sandbox.com"
